# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary
build

# Dependency directory
node_modules

# others
/npm-debug.log
/*.sublime-workspace
.DS_Store

# repo secret
.coveralls.yml

# certs
*.pem

# firebase
.firebase

# VS Code settings
.vscode
